html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
body{
    margin: 0;
    padding: 0;
    overflow-y: scroll;
    height: 100vh;
    background-color: #ffffff;
    display: flex;
  }
  /*------------------------------------<nav>------------------------------------*/
nav {
    background-color:rgb(255, 255, 255);
    width: 100vw;
    height: 9vh;
    position: fixed;
    display: flex;
    justify-content: space-between;
    justify-items: center;
    padding: 0 20rem;
    box-sizing: border-box;
  }
nav ul {
    display: flex;
    align-items: center;
    gap: 2rem;
    list-style: none;
  }
nav ul li a {
    text-decoration: none;
    font-family: 'Segoe UI';
    color: #a50c0c;
    font-weight: 600;
  }
nav ul li a:hover{
    border-bottom: 2px solid #a50c0c;
  }
nav aside img {
    width: 60px;
    padding-bottom: 7rem;
  }
.hamburger{
    display: none;
    padding : 1rem;
    cursor: pointer' 
  }
  /*------------------------------------<MAIN>------------------------------------*/
main {
    width: 100vw;
    height: 100vh;
    margin-inline: auto;
    padding: 2rem 4rem;
    padding-bottom: 0;
    flex: 1;
    display: flex;
    align-items: center;
  }
main .content {
    display: flex;
    flex: 1;
    align-items: center;
    width: 50rem;
  }
main .content-description p{
    display: flex;
    padding-left: 10rem;
    font-family: monospace;
    font-size: large;
    font-weight: 100;
    
  }
main .content-description h1{
    display: flex;
    margin-left: 10rem;
    margin-bottom: 0;
    font-family:'Kanit';
    font-size: 50px;
    
  }
main .content-description button{
    display: flex;
    margin-left: 30rem;
    width: 8rem;
    height: 2rem;
    justify-content: center;
    align-items: center;
    transform: skew(-20deg);
    border-color: #a50c0c;
    background-color: #a50c0c;
    
  }
main .content-description button{
    color: #ffffff;
    font-family: monospace;
    font-weight: bold;
    text-decoration: none;
  }
a:link{
    text-decoration: none;
  }
main .content-description button:hover{
    border: 3 solid #a50c0c;
    color: #a50c0c;
    background-color: #ffffff;
  }
main .content .content-image img {
    width: 20rem;
    display: flex;
    align-items: center;
    margin-right: 12rem;
  }
  /*----------------------------------------FOOTER----------------------------------------*/
footer {
    text-align: center;
    padding: 3px;
    color: white;
    
    width: 100vw;
    background: #333;
    height: 30px;
    padding: 10px 40px;
    display: grid;
    position: fixed;
    left: 0;
    bottom: 0;
    justify-content: center;
    align-items: center;
  }
footer p{
    font-size: 15px;
  }
  /*----------------------------------------RESPONSIVE----------------------------------------*/
  @media screen and (max-width: 768px) {
    .hamburger{
      display: flex;
    }
    .nav.active{
      padding: 0 20;
    }
    .navList{
      display: none; 
      flex-direction: column;
      position: absolute;
      top: 60px;
      left: 0;
      width: 20%;
      height: 100%;
    }
    .navList.active{
      display: flex;
    }
    footer{
      padding: 5px;
      font-size: 14px;
      width: 100%;
    }
    main {
      padding: 5px;
      width: 100%;
    }
  } 
  